[submodule "linshare-core"]
	path = linshare-core
	url = https://github.com/linagora/linshare-core.git
[submodule "linshare-ui-admin"]
	path = linshare-ui-admin
	url = https://github.com/linagora/linshare-ui-admin.git
[submodule "linshare-ui-upload-request"]
	path = linshare-ui-upload-request
	url = https://github.com/linagora/linshare-ui-upload-request.git
[submodule "linshare-ui-upload-proposition"]
	path = linshare-ui-upload-proposition
	url = https://github.com/linagora/linshare-ui-upload-proposition.git
[submodule "linshare-upload-proposition"]
	path = linshare-upload-proposition
	url = https://github.com/linagora/linshare-upload-proposition.git
